//- extends layout

block content
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title 회원가입 화면 샘플 - Bootstrap
        // Bootstrap CSS
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
        style.
            body {
            min-height: 100vh;
            background: -webkit-gradient(linear, left bottom, right top, from(#92b5db), to(#1d466c));
            background: -webkit-linear-gradient(bottom left, #92b5db 0%, #1d466c 100%);
            background: -moz-linear-gradient(bottom left, #92b5db 0%, #1d466c 100%);
            background: -o-linear-gradient(bottom left, #92b5db 0%, #1d466c 100%);
            background: linear-gradient(to top right, #92b5db 0%, #1d466c 100%);
            }
            .input-form {
            max-width: 680px;
            margin-top: 80px;
            padding: 32px;
            background: #fff;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
            -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
            }
    body
     .container
        .input-form-backgroud.row
          .input-form.col-md-12.mx-auto
            h4.mb-3 회원가입
            form.validation-form(novalidate='')
             .row
                .col-md-6.mb-3
                    label(for='name') 이름
                    input#name.form-control(type='text' placeholder='' value='' required='')
                    .invalid-feedback
                    | 이름을 입력해주세요.
                .col-md-6.mb-3
                    label(for='nickname') 별명
                    input#nickname.form-control(type='text' placeholder='' value='' required='')
                    .invalid-feedback
                    | 별명을 입력해주세요.
             .mb-3
                label(for='email') 이메일
                input#email.form-control(type='email' placeholder='you@example.com' required='')
                .invalid-feedback
                    | 이메일을 입력해주세요.
             .mb-3
                label(for='address') 주소
                input#address.form-control(type='text' placeholder='서울특별시 강남구' required='')
                .invalid-feedback
                    | 주소를 입력해주세요.
             .mb-3
                label(for='address2')
                    | 상세주소
                    span.text-muted  (필수 아님)
                input#address2.form-control(type='text' placeholder='상세주소를 입력해주세요.')
             .row
                .col-md-8.mb-3
                    label(for='root') 가입 경로
                    select#root.custom-select.d-block.w-100
                        option(value='지인')
                        option 검색
                        option 카페
                    .invalid-feedback
                    | 가입 경로를 선택해주세요.
                .col-md-4.mb-3
                    label(for='code') 추천인 코드
                    input#code.form-control(type='text' placeholder='' required='')
                    .invalid-feedback
                    | 추천인 코드를 입력해주세요.
             hr.mb-4
             .custom-control.custom-checkbox
                input#aggrement.custom-control-input(type='checkbox' required='')
                label.custom-control-label(for='aggrement') 개인정보 수집 및 이용에 동의합니다.
             .mb-4
             button.btn.btn-primary.btn-lg.btn-block(type='submit') 가입 완료
        footer.my-3.text-center.text-small
          p.mb-1 © 2021 YD
      script.
        window.addEventListener('load', () => {
        const forms = document.getElementsByClassName('validation-form');
        Array.prototype.filter.call(forms, (form) => {
        form.addEventListener('submit', function (event) {
        if (form.checkValidity() === false) {
        event.preventDefault();
        event.stopPropagation();
        }
        form.classList.add('was-validated');
        }, false);
        });
        }, false);
